:root {
    /* Color Palette: Complementary */
    --dark: #1B6642;
    --light: #74FCBB;
    --mid: #42B87F;
    --dark2: #7A2014;
    --light2: #B85042;

    /* Maybe make font variables? */

}

body {
    font-family: 'Roboto', sans-serif;
}

#hook {
    font-size: 10vw;
    margin-left: 10vw;
}

#large-portrait {
    position: absolute;
    bottom: 0px;
    right: 5vw;
    height: 70vh;
}

#greeting-section {
    /* Browser Fallback
    background-image: linear-gradient(to bottom, *dark but hex*, *light but hex*);
    */

    /* Used if color can't be found 
    background-image: linear-gradient(to bottom, var(--dark, *fallback*), var(--light, *fallback*));
    */

    /* Makes sense to use variables for initial development and concepts due to being easy to change.
        Implement browser compatability and fallbacks LATER, AFTER the website nears its completion */

    background-image: linear-gradient(45deg, var(--dark), var(--mid));
    color: white;
}

#about-section {

}

#projects-section {
    background-image: linear-gradient(45deg, var(--dark2), var(--light2))
}